@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
  
  body {
    @apply bg-bibty-cream text-bibty-charcoal;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-display font-bold uppercase tracking-tight;
  }
}

@layer utilities {
  .text-stroke {
    -webkit-text-stroke: 1px currentColor;
    color: transparent;
  }
  
  .text-stroke-white {
    -webkit-text-stroke: 1px white;
    color: transparent;
  }

  .text-stroke-black {
    -webkit-text-stroke: 1px black;
    color: transparent;
  }
}
